@{
    var returnUrl = ViewData["ReturnUrl"] as string;
    var error= TempData["Error"] as string;
    //Securing Action Method in Controller
}
<h2>Login</h2>
@if(!string.IsNullOrEmpty(error)){
    <h2 class="alert-danger" style="padding:20px">@error</h2>
}
<form action="/login?ReturnUrl=@System.Net.WebUtility.UrlEncode(returnUrl)" method="post">
    Enter Username:<br/>
    <input type="text" name="username" /><br/><br/>
    Enter Password: <br/>
    <input type="password" name="password" /><br/><br/>
    <input type="submit" name="Login" />
</form>